# Ignore single file (diff from prev one)
new-file.txt

# Ignore all files in bin directory
bin/

# Ignore all .tmp files
*.tmp
# here '*.' specifies that any files with extension .tmp will be ignored by git